* {
    margin : 0;
    padding : 0;
    box-sizing:border-box;
    font-size:10px;
}

#Banner {
  background : #333333;
  height : 10vh;
}

/* container */
#container {
  height:100%;
  display:flex;
  margin : auto;
  padding: 0 2rem;
  justify-content: space-between;
  align-items :center;
  max-width:80%;
  color : white;
}

/* logo */
.logo .link-color{
  font-weight: 800;
  font-size: 2rem;
  cursor: pointer;
}


/* bars */
.bar-container{
  height: 100%;
  width:30%
}

 .bar-list{
  display:flex;
  align-items : center;
  justify-content: space-around;
  list-style : none;
  height:100%;
}
.bar-items{
  height : 100%;
  display : flex;
  align-items : center;
  justify-content:center;
  flex-basis: 32.5%;
  color:white;
  text-decoration : none;
  font-size: 1.5rem;
}



.bar-items:hover ,
.current-home,
.current-contact,
.current-about{
  background:#444444;
  text-decoration : none;
  color:#F7C08A;
  cursor : pointer;
}


.bar-items:hover ,
.current-home .link-color,
.current-contact .link-color,
.current-about .link-color{
  color:#F7C08A;
}

.link-color{
  height : 100%;
  display : flex;
  align-items : center;
  justify-content:center;
  flex-basis: 32.5%;
  color:white;
  text-decoration : none;
  font-size: 1.5rem;
}

